<div mat-dialog-content>
  <p>Editing No.{{car.id}} Car Detail</p>
  <mat-form-field class="car-full-width" appearance="fill">
    <mat-label>Model</mat-label>
    <input id="modelInput" matInput [(ngModel)]="inputCarModel"  type="text"  required>
  </mat-form-field>
  <mat-form-field class="car-full-width" appearance="fill">
    <mat-label>Manufactured Year</mat-label>
    <input id="yearManufacturedInput"  matInput [(ngModel)]="inputCarManufacturedYear" type="number" minlength="4" maxlength="4" pattern="\d{4}" required>
  </mat-form-field>
  <mat-form-field class="car-full-width" appearance="fill" required>
    <mat-label >Color</mat-label>
    <input matInput [(ngModel)]="inputCarColor" type="text" required>
  </mat-form-field>
  <mat-form-field class="car-full-width" appearance="fill">
    <mat-label>Engine Transmission</mat-label>
    <mat-select [(value)]="inputCarTransmission"  name="car">
      <mat-option value="auto">Auto</mat-option>
      <mat-option value="manual">Manual</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="car-full-width" appearance="fill">
    <mat-label>Plate Number</mat-label>
    <input matInput [(ngModel)]="inputCarPlateNumber" type="text" required>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="updateCar()" [disabled]="validateUpdateButton()">Update</button>
  <button mat-button [mat-dialog-close] cdkFocusInitial>Close</button>
</div>
